#fundo {background-color: rgb(11, 12, 17);
        color: white;}

.formatacao{font-family: 'Times New Roman', Times, serif;}

a {color: white; 
   text-decoration: none;
   font-weight: bold;
   padding: 5px;
}

a:hover{
    color:dimgray;
}


.centralizar {
    text-align: center;
}
#borda {
    background-color: rgb(5, 5, 5) ;
    border: 2px solid rgb(102, 102, 102);
}

.formatacao{
    font-family: 'Times New Roman', Times, serif;
}
.borda1{
position: relative;
right: -30px;
width: 360px;
height: 160px;


}
.borda2 {


position: relative;
right: -30px;
width: 170px;
height: 250px;


}
#principal {
    background-color: rgb(11, 12, 17) ;
    color: white;
}
.espacamento {
    margin-top: 100px;
}
.floatdireita{
    float: right;
}
.floatesquerda{
    float: left;
}
.floatbaixo{
    float:inherit;
}
.borda3 {

    background-color: rgb(7, 6, 12) ;
    border: 3px solid rgb(102, 102, 102);
    width: 600px;
    height: 450px;
    padding: 10px;
    margin: 20px auto;

    }
.borda4 {
    position: relative;
    right: -25px;
    bottom: -90px;
  
}
.borda5 {
    position: relative;
    right: -30px;
    bottom: 65px;

}
.clear{
    clear: both;
}
.nacao{
    position: relative;
    bottom: 30px;

}
.casa{
    position: relative;
    bottom: 80px;
}
h4 {
    margin: none;
}